$c1: #8DC63F;
$c2: #D7DF23;
$c3: #00B3D9;
$c4: #6793CD;
$c5: #414042;
$c6: #233C00;

$white: #fff;
$dark: $c5;
$bdrop: rgba(black, 0.68);

$fw-light: 300;
$fw-regular: 400;
$fw-bold: 600;

$speed: .3s;
