$c1: #8dc63f;
$c2: #d7df23;
$c3: #00b3d9;
$c4: #6793cd;
$c5: #414042;
$c6: #233c00;

$white: #fff;
$dark: $c5;
$bdrop: rgba(black, 0.68);

$fw-light: 300;
$fw-regular: 400;
$fw-bold: 600;

$speed: 0.3s;
