.section {
  background-size: cover;
  background-position: center;
  position: relative;

  &__content {
    padding-top: calc(5rem + 3.3rem);
    padding-bottom: 5rem;
    position: relative;
    z-index: 1;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    @include md {
      padding-top: calc(5rem + 4.313rem);
    }

    &--header {
      padding-top: 5rem;
    }
  }

  &__arrow {
    border: 0;
    cursor: pointer;
    position: absolute;
    z-index: 9;
    left: 50%;
    bottom: 1rem;
    transform: translateX(-50%);
    padding-bottom: 0.75rem;
    background-color: $c6;
    width: 2.313rem;
    height: 3.938rem;
    border-radius: 1.188rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    > svg {
      pointer-events: none;
    }

    &:focus,
    &:hover {
      outline: none;
    }

    &--alpha {
      background-image: linear-gradient(180deg, $c1, $c2);
    }

    &--beta {
      background-image: linear-gradient(180deg, $c3, $c4);
    }
  }
}
